/* Soluzione qui */


    /* il logo si alinea sinistra nella versione tablet */
@media screen and (min-width: 768px) {

    #topbar {
        justify-content: flex-start;
    }

    /* Il padding del mio contenuto aumenta nella versione tablet */

    main {
        padding: 40px;
    }
       /* The img goes to the left */
      
    .presentation img {
        display: inline;
        padding-right: 1rem;
        float: left;
    }   
    
    .recipe-video iframe {
      
        display: inline-block;
    }

    .presentation p {
        
    }


}













@media screen and(min-width: 992px ) {
    
    


    
}

